<div class="panel panel-primary">
    <div class="panel-heading">
      <h2>Clients</h2>
      <a [routerLink]="['/clients/add/']">Nuevo</a>
    </div>
    <div class="panel-body">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>ID</th>
            <th>name</th>
            <th>Description</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let client of clients | async">
            <td>{{client._id}}</td>
            <td>{{client.name}}</td>
            <td>{{client.description}}</td>
            <td>
                <button (click)="deleteClient(client.id)" class="btn btn-danger">Delete</button>
                <a [routerLink]="['/clients/', (client._id)]">Detalle</a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>